<div data-role="header">
	<h1>Actors</h1>
</div>

<div class="ui-content">
  <ul>
    <% @actors.each do |actor| %>
      <li><%= link_to actor.name, actor %></li>
    <% end %>
  </ul>
</div>

<div data-role="footer">
&nbsp;
<%= link_to 'New Actor', new_actor_path %> 
<%= link_to 'Home', root_path %>
</div>