<h1>Actors</h1>

<% @actors.each do |actor| %>
  <ul>
    <td><%= link_to actor.name, actor %></td>
  </ul>
<% end %>

<br>

<%= link_to 'New Actor', new_actor_path %> |
<%= link_to 'Home', root_path %>
