<div data-role="header">
	<h1>New actor</h1>
</div>

<div class="ui-content">
<%= render 'form' %>
</div>

<div data-role="footer">
&nbsp;
<%= link_to 'Back', actors_path %> 
<%= link_to 'Home', root_path %>
</div>
