<h1>Movies</h1>

<% @movies.each do |movie| %>
  <ul>
    <td><%= link_to movie.name, movie %></td>
  </ul>
<% end %>

<br>

<%= link_to 'New Movie', new_movie_path %> |
<%= link_to 'Home', root_path %>
