<div data-role="header">
  <h1>Movies</h1>
</div>

<div class="ui-content">  
  <form>
    <input id="filter-for-listview" data-type="search" placeholder="Type to search...">
  </form>
  <ul data-role="listview" data-inset="true" data-filter="true" data-input="#filter-for-listview">
    <% @movies.each do |movie| %>
      <li><%= link_to movie.name + " (" + movie.year.to_s + ")", movie %></li>
    <% end %>
  </ul>
</div>


<div data-role="footer">
  &nbsp;
  <%= link_to 'New Movie', new_movie_path %>
  <%= link_to 'Home', root_path %>
</div>
