<h1>Mediocre Movies Database</h1>

<p>Welcome to our mediocre rails website!</p>
<p>We have <%= link_to "actors", actors_path %>!</p>
<p>We have <%= link_to "movies", movies_path %>!</p>
<br>
<p>Yeah, this frontend sucks. Make us a better one!</p>
